*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color:#F6F8F9;
}

header {
    background-color: white;
    height: 60px;
}
header h1 {
    display: inline-block;
    line-height: 60px;
    color: #031732;
}
header img {
 vertical-align: middle;
}

nav {
    background-color: white;
    margin: 40px auto;
    width: 70%;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}
.add-task {
    color: white;
    background-color: #5BB8F3;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}
.add-section {
    color: lightgrey;
    background-color:white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid grey;
}